@*@model IEnumerable<HarvestOnline.Models.ApplicationUser>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Harvest Online</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="~/css/pagedesign.css" rel="stylesheet" />


</head>
<body style="background-color:#FFF8E9">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3; container-fluid" style="background-color:ghostwhite">
            <div class="container-fluid" style="max-width:1500px">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between;">
                    <ul class="navbar-nav flex-grow-1" style="list-style-type:none; padding:0;float:right; display:inline-block; font-family:'Courier New', monospace">
                        <li class="nav-item" style="margin: 0px 10px 0px 10px;">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Home"> <img src="~/lib/images/output-onlinepngtools (1).png" style="height:2em" />Notifications</a>
                        </li>
                        <li class="nav-item" style="margin: 0px 10px 0px 10px;">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Help"><img src="~/lib/images/2e095de08301a57890aad6898ad8ba4c-yellow-circle-question-mark-icon-by-vexels.png" style="height:2em" />Help</a>
                        </li>


                        <li class="nav-item" style="margin: 0px 10px 0px 10px;">
                            <img src="~/lib/images/output-onlinejpgtools (1).png" style="height:2em">
                            <div class="dropdown">
                                <button class="dropbtn">@ViewBag.userId</button>
                                <div class="dropdown-content">
                                    <a asp-area="" asp-controller="User" asp-action="CreateProfile">My Account</a>

                                    @*Nothing here yet in the add to cart!*@
                                    <a href="#">My Purhcase</a>

                                    <a asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="text-center">
        <img src="~/lib/images/output-onlinepngtools.png" style="vertical-align:middle" class="position-fixed; text-center">
    </div>

    <div class="container-fluid" style="position: relative; font-family: 'Courier New', monospace; flex-grow: 1; margin-bottom: 50px; max-width:1500px">
        @using (Html.BeginForm("DisplayView", "User", FormMethod.Get))
        {
            <b>Search By:</b>
            @Html.RadioButton("searchBy", "ItemName", true) <text>Products</text>
            <br />
            @Html.TextBox("search")<button type="submit" class="btn btn-success btn-sm; fa fa-search"></button>
            <a asp-area="" asp-controller="User" asp-action="DisplayView" class="btn btn-warning btn-sm">Display All</a>
        }

        <table width="100%" style="font-size:20px; margin-top:10px; background-color:#C9F8D1 /*#FDD880*/; border-radius:4px">
            <tr style="font-family:'Courier New', monospace; color:#FFFFFF">
                <th width="21%"><a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Home">Home</a></th>
                <th width="22%"><a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="About">About Us</a></th>
                <th width="22%"><a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="DisplayView">Products</a></th>
                <th width="21%"><a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Farmers">Farmers</a></th>
                <th><a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Contact">Contact Us</a></th>
            </tr>
        </table>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:ghostwhite; display:block;">
        <div class="container" style="color:black">
            &copy; 2021 - Harvest Online Inc.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

