@model HarvestOnline.Models.AdminUser


@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AdminLoginLayout.cshtml";
}

<section>
    <div>
        <div class="col-md-4" style="float:right;margin-top:50px">
            @using (Html.BeginForm("Register", "Admin", FormMethod.Post))
            {           
                @Html.AntiForgeryToken()

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Admin Register</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })
                            @if (ViewBag.error != null)
                            {
                                <span class="badge badge-danger">@ViewBag.error</span>
                            }
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn" style="background-color:#f1c650; width:300px" value="Register" />
                            <hr />
                            <div style="text-align:center">
                                <p> By signing up you agree to Harvest Online's <br /> Terms of Service & Privacy Policy</p>
                            </div>
                            <p style="color:#dc922a; text-align:center">
                                <a asp-area="" asp-controller="Admin" asp-action="Login" style="color:#dc922a"> Have an Account? Login</a>
                            </p>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}